label {
  width: 60px;
  height: 40px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

label:after {
  content: '';
  width: 26px;
  height: 26px;
  position: absolute;
  top: 6px;
  left: 10%;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
input {
  width: 0;
  height: 0;
  display: none;
}

input:checked + label {
  background: #242424;
}
input:checked + label:after {
  left: 90%;
  transform: translateX(-90%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
label,
label:after {
  transition: 0.2s;
}

label:active:after {
  width: 45px;
}
